<div class="player-search">
  <mat-form-field class="player-search-field">
    <mat-label i18n="@PlayerCode">Player code</mat-label>
    <input matInput type="text" [(ngModel)]="currentPlayerCode">
    <button mat-button color="primary" matSuffix mat-icon-button i18n-aria-label="@@ReadQRCode" aria-label="Read QR code" (click)="openScannerDialog()">
      <mat-icon>photo_camera</mat-icon>
    </button>
  </mat-form-field>
  <button *ngIf="!inline" mat-icon-button color="primary" routerLink="{{currentPlayerCode}}">
    <mat-icon>search</mat-icon>
  </button>
  <button *ngIf="inline" mat-icon-button color="primary" (click)="getPlayer()">
    <mat-icon>search</mat-icon>
  </button>
</div>
