.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a.app-name {
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
}

.content {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.spacer {
  flex: 1 1 auto;
}
