<div class="mat-app-background basic-container">
  <div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
      <a class="mat-focus-indicator mat-button app-name" routerLink="">{{ title }}</a>
      <span class="spacer"></span>
      <app-round-counter></app-round-counter>
      <app-user-menu></app-user-menu>
    </mat-toolbar>
    <div class="content-container">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
