<form [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label i18n="@@Server">Server:</mat-label>
        <input matInput name="server" formControlName="server">
    </mat-form-field>
    <div class="form-buttons">
      <button mat-flat-button color="primary"
                (click)="setServer()" i18n="@@Set">Set</button>
      <button mat-button color="primary" (click)="dialogRef.close()" i18n="@@Close">Close</button>
      <button mat-button color="primary" (click)="clearServer()" i18n="@@Clear">Clear</button>
    </div>
</form>
